.btnVoltar {
    background: #E0E0E0;    
    border: 2px solid #CCCCCE;
    border-radius: 35px; 
    color: #616165;
    display: '-moz-flex';
    display: '-webkit-flex';
    display: '-ms-flex';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;  
    text-align: center;
    text-decoration: none;       
    width: 35px;
    height: 35px;
}

.btnVoltar:before {
    border: 1px solid #FFF;
    border-radius: 35px;  
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px;
   
}

.btnVoltar:after {
    background: rgba(255, 255, 255, .4);
    border-radius: 35px;    
    bottom: 15px;
    left: 0px;
    right: 0px;
    top: 0px;
    
}

.btnVoltar:active {
    box-shadow: inset 0 0 7px rgba(0, 0, 0, .2);
    top: 4px;
}

.btnVoltar:active:before {
    border: none;
    box-shadow:none;
}

