#reset_senha_h3 {
    color: #A9A9A9;
    text-align: center;
}

#reset_senha_txt_voltar {
    font-weight: bold;
    font-size: 1.3em;
}

#reset_senha_bg {
    width: 450px;
    height: 210px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--color-white);
    border-width: 1px;
    border-color: #4F4F4F;
    border-style: solid;  
}

#reset_senha_button {   
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 0.5em;
    border-color: var(--color-primary);
    font-size: 1.2em;
    margin-top: 3%;    
}

.reset_senha_nav {
  width: 100%;
  height: 50px;
  background-color:#ADD8E6;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.reset_senha_body {
    width: 100%;
    flex: 1;    
    display: flex;
    align-items: center;
    justify-content: center;    
}