:root {
    --color-primary: #007fff;
    --color-black: #000;
    --color-white: #fff;
    --color-header: #ADD8E6;
    --font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    --font-size: 14px;
}

html, body, #rood {
    min-height: 100%;
}

body, input, button {
    color: var(--color-black);
    font-size: var(--font-size);
    font-family: var(--fontfamily);
}

input, input:focus {
    width: 95%;
    margin-top: 0.3%;
    margin-bottom: 3%;
    height: 34px;
    border-width: 0.15em;
    border-style: solid;
    border-radius: 0.5em;
    border-color: #DCDCDC;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.1em;
    background-color: #F8F8FF;
    box-shadow: 0 0 0 0;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box; 
    font-size: var(--font-size) !important;
    color: var(--color-black);
    font-family: var(--font-family) !important;
    background-color: #fff;
    -webkit-font-smoothing: antialiased !important;
  }
  
  button {
      cursor: pointer;
      width: 100%;
      height: 45px; 
  }
  
  a, h2.titulo {
     color: var(--color-primary);
  }

  h2.titulo {
    margin-left: 2%;
  }

  span.footer {
    margin-right: 1%;
    font-family: var(--font-family);
    font-size: 10px;
    color: var(--color-black);
  }


  label {
    width: 100%;    
    padding-left: 2%;
    font-size: 1.2em;
    color: #4F4F4F;
  }

 nav {
    width: 100%;
    height: 50px;
    background-color: var(--color-header);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  footer {
    width: 100%;
    height: 75px;
    background-color: var(--color-header);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  div.body{
      flex: 1;
      background-color: transparent;
  }

  .container_title {
      width: 80%;
      background-color: transparent;
  }

  .container_buttons{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 20%;
      background-color: transparent;
    }
    
  .btnAdd, .btnNav {
    display: '-moz-flex';
    display: '-webkit-flex';
    display: '-ms-flex';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;  
    text-align: center;
    text-decoration: none;  
    border-radius: 35px;
  }  

  .btnAdd{
    background: #070719;    
    border: 2px solid #CCCCCE;         
    color: #070719;        
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 95px;
    right: 40px;
  }  
    
  .btnNav {
    background: #E0E0E0;    
    border: 2px solid #CCCCCE;
    color: #616165;      
    width: 35px;
    height: 35px;
  }

  .btnNav:before {
    border: 1px solid #FFF;
    border-radius: 35px;  
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px;   
}

.btnNav:after {
    background: rgba(255, 255, 255, .4);
    border-radius: 35px;    
    bottom: 15px;
    left: 0px;
    right: 0px;
    top: 0px;    
}

.btnNav:active {
    box-shadow: inset 0 0 7px rgba(0, 0, 0, .2);
    top: 4px;
}

.btnNav:active:before {
    border: none;
    box-shadow:none;
}

.breadcumb {
    display: '-moz-flex';
    display: '-webkit-flex';
    display: '-ms-flex';
    display: flex;
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 1.8%;
}

.breadcumb .niveis {
    margin-left: 5px;
    text-decoration: none;
}

.breadcumb .separadorNiveis{
    color: grey;
}