#btnSair {
    width: 110px;
    color: var(--color-white);
    text-align: center;
    font-weight: bold;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    border-radius: 10px;
}

#btnFecharModalUsuario{
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    right: 18px;
    top: 10px;
}

#txtModalUsuarioNome {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    font-family: var(--font-family);
}

#txtModalUsuarioEmail {
    margin-top: 5px;
    margin-bottom: 5px;
}

#containerBtnSair {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.containerFotoModalUsuario {
    display: flex;
    margin: 5% 3% 1% 3%;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}

.containerLinksModalUsuario{
    display: flex;
    height: 120px;
    margin: 5% 5% 9% 7%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: transparent;
}

.modalUsuario {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 99;
}

.btnFotoModalUsuario {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    border-width: 1px;
    border-color: #999;
    margin-bottom: 15px;
    background-color: var(--color-white);
}


.modalUsuario .containerModalUsuario {
    position: fixed;
    width: 350px;
    top: 50px;
    right: 50px;
    margin: 0 auto;
    background-color: var(--color-white);
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    border-radius: 15px;
    padding-bottom: 2%;
}

