.containerTabelaCliente {    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.tabela {
    margin-bottom: 20px;
}

.tabCnpjCliente, .tabPagamentoCliente, .tabNomeCliente {
    padding-left: 10px;
    padding-right: 10px;
}

table.tabela .tabNomeCliente {
    text-align: left;
    width: 60%;    
}

table.tabela .tabCnpjCliente{
    width: 25%;
}

table.tabela .tabPagamentoCliente {
    width: 15%;
    text-align: left;
}

table.tabela .tabPagamentoPendente {
    color: purple;
    font-weight: bold;
}

table.tabela .tabPagamentoInadimplente {
    color: red;
    font-weight: bold;
}

table.tabela .tabPagamentoEmDia {
    color: green;
    font-weight: bold;
}

ul.pagination {    
    background-color: transparent;    
    border-style: solid;
    border-color: #999; 
    border-width: 1px 1px 1px 0;
}

li.page-item a {
    background-color: transparent;
    border-style: solid;
    border-color: #999; 
    border-width: 0 0 0 1px;
}

li.page-item.active a {
    color: var(--color-white);
    background-color: var(--color-primary);
    font-weight: bold;    
}